node_modules
.yarn/*
.pnp.*
dist
.DS_Store
.env
.env.*
cdk.out
.next
coverage
tmp
package-lock.json

# Build artifacts in public/ directory
frontend/dashboard/public/browser-image-compression.js
frontend/dashboard/public/pica.min.js
