STAGE=dev
AWS_REGION=eu-west-1
CDK_DEFAULT_ACCOUNT=
CDK_DEFAULT_REGION=eu-west-1

SENDER_EMAIL=
PHOTOGRAPHER_NOTIFY_EMAIL=

# Required (for payments)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Required (public URLs written to SSM)
# Your deployed API Gateway URL
PUBLIC_API_URL=
# Gallery frontend (where clients will access galleries)
PUBLIC_GALLERY_URL=http://localhost:3001
# Landing frontend (main website)
PUBLIC_LANDING_URL=http://localhost:3002
# Dashboard frontend
PUBLIC_DASHBOARD_URL=http://localhost:3000


GALLERY_PASSWORD_ENCRYPTION_SECRET=